@font-face {
  font-family: "TT Firs Neue Trl";
  src: url("../fonts/TTFirsNeueTrl-Regular.woff2") format("woff2"),
    url("../fonts/TTFirsNeueTrl-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nanum Pen";
  src: url("../fonts/NanumPen.woff2") format("woff2"),
    url("../fonts/NanumPen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
